<div class="col-lg-10 mx-auto mt-5">
    <div class="row mt-4 mb-4">
        <% @users.each do |user| %>
            <div class="col-lg-3 mb-3 mt-3">
                <div class="card text-center shadow" style="min-height: 400px">
                    <div class="card-body">
                        <%= image_tag "dummy_user.jpeg", style: "width: 150px; border-radius: 50%; border: 2px solid #0d6efd;", class: "mb-3" %>
                        <div class="user-info">
                            <h5><%= user.name %></h5>
                            <p class="lead"><%= user.profile_title %></p>
                            <small class="text-primary"><%= user.country %></small><br>
                            <%= link_to "View Profile", "javascript:void(0)", class: "btn btn-primary mt-3"%>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>